@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400&display=swap');

body {
	background-color: BLACK;
	max-width: 600px;
	margin: auto;
	padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
	color: #fff;
	font-family: 'Poiret One', cursive;
	// font-family: 'Raleway', sans-serif;
}

p {
	color: #fff;
	font-family: 'Karla', sans-serif;
	font-size: large;
}