@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
.indexlink {
	font-family: 'Poiret One', cursive;

	background-color: none;
	color: #fff;
	text-decoration: none;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0px;

		&:hover {
			background-color: #fff;
			color: #000;
			text-decoration: none;
		}

		&:before {
			content: "[ ";
		}
		&:after {
			content: " ]";
		}
}
