<!DOCTYPE html>
<html>
	<head>
		<title>glyphli</title>
		<link href="/index.css" rel="stylesheet">
	</head>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"
		integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<body style="background-color: BLACK;">
		<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
			{# <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="180.59" height="104.56"
				viewBox="0 0 47.78 27.67">
				<path
					d="m33.07 26.46-6.61 13.23 6.61 6.61 6.62-6.61zM16.54 36.38l-6.62 3.3L16.54 43l3.3-3.3zM23.15 23.15l-6.61-3.3 3.3 6.6h3.31zM46.3 26.46l3.3-6.62-6.6 3.31v3.3zM49.6 36.38l-3.3 3.3L49.6 43l6.62-3.3z"
					style="fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#fff;stroke-width:.661458;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
					transform="translate(-9.18 -19.1)" />
			</svg> #}
			{% include "index/glyph.html" %}
			{% include "index/sections.html" %}
		</div>
	</body>
</html>
